# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#pycharm directories
.idea/

#Large files from the google data set.
dataset/eval_segments.csv
dataset/class_labels_indices.csv
dataset/balanced_train_segments.csv
dataset/unbalanced_train_segments.csv
dataset/features.tar.gz
dataset/audioset_v1_embeddings/

#Data Set Files that have not been filtered
dataset/moods_balanced_subset.param
dataset/moods_balanced_subset.tfrecord
dataset/moods_balanced_subset_error.txt
dataset/moods_unbalanced_subset.param
dataset/moods_unbalanced_subset.tfrecord
dataset/moods_unbalanced_subset_error.txt

#Tools used for download
dataset/ffmpeg.exe
dataset/ffprobe.exe

#vggish code base
src/vggish_model_original.ckpt
src/vggish_model.ckpt
src/vggish_pca_params_original.npz
src/vggish_pca_params.npz
src/wav_outputs_balanced
src/wav_outputs_unbalanced
src/wav_outputs_eval
src/checkpoint/